.body {
    font-family: 'Montserrat', sans-serif; /* Define a fonte do corpo */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    color: #ffffff; /* Cor do texto */
    background-color: #0a0e27; /* Cor de fundo */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
}

.container {
    width: 85%; /* Largura relativa ao elemento pai */
    max-width: 75rem; /* Largura máxima em rem */
    margin: 0 auto; /* Centraliza o container */
}

.header {
    background-color: #0b1f47; /* Cor de fundo do cabeçalho */
    height: 5.5rem; /* Altura do cabeçalho */
    display: flex; /* Usa flexbox para disposição dos itens */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 0 1.25rem; /* Espaçamento interno horizontal */
    position: relative; /* Necessário para o logotipo */
}

.container2 {
    display: flex; /* Usa flexbox para disposição dos itens dentro do container */
    justify-content: space-between; /* Espaça o logotipo e a navegação */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    width: 88%; /* Garante que o container ocupe toda a largura disponível */
}

/* Estilo do logotipo */
.logo {
    display: flex; /* Usa flexbox para o logotipo */
    align-items: center; /* Centraliza verticalmente o logotipo */
    margin-left: 3rem;
}

/* Estilo da imagem do logotipo */
.logo img {
    left: 2.5rem;
}

/* Estilo da navegação */
.nav {
    flex: 1; /* Permite que a navegação ocupe o espaço disponível */
    display: flex; /* Usa flexbox para a navegação */
    justify-content: center; /* Centraliza a navegação horizontalmente */
}

.nav ul {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Exibe os itens de navegação em linha */
    justify-content: center; /* Centraliza os itens de navegação */
    gap: 1.25rem; /* Adiciona um espaço entre os itens */
    padding: 0; /* Remove o padding da lista */
    margin: 0; /* Remove a margem da lista */
}

.nav ul li {
    display: inline; /* Exibe os itens da lista em linha */
}

.nav ul li a {
    color: #fff; /* Cor dos links na navegação */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: 500; /* Peso da fonte */
    padding: 0.625rem 0.9375rem; /* Espaçamento interno dos links */
    display: block; /* Exibe os links como blocos */
    border-radius: 0.3125rem; /* Arredondamento das bordas */
    transition: border-bottom 0.3s ease, color 0.3s ease; /* Transições suaves para efeitos de hover */
    position: relative; /* Posicionamento relativo para o pseudoelemento ::after */
}

/* Estilo dos links da navegação */
.nav a {
    color: #ffffff; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 1rem; /* Tamanho da fonte dos links */
    font-weight: 600; /* Peso da fonte dos links */
    position: relative; /* Necessário para o posicionamento da linha */
}

.nav ul li a:hover {
    color: #f39c12; /* Muda a cor do texto dos links quando o mouse está sobre eles */
}

.nav a.active {
    color: #f8a22f; /* Altere a cor do texto se desejado para o item ativo */
}

/* Linha abaixo do item ativo */
.nav a.active::after {
    content: ''; /* Cria um elemento vazio */
    display: block; /* Faz com que o elemento ocupe uma linha inteira */
    width: 100%; /* Largura da linha igual à do link */
    height: 3px; /* Altura da linha */
    background-color: #f8a22f; /* Cor da linha */
    position: absolute; /* Posiciona a linha em relação ao link */
    bottom: -5px; /* Posiciona a linha abaixo do link */
    left: 0; /* Alinha a linha à esquerda do link */
}

.nav ul li a:hover::after {
    width: 100%; /* Faz com que o pseudo-elemento ocupe 100% da largura do link quando o mouse está sobre ele */
}


/* Estilo da seção herói */
.herosection {
    text-align: center; /* Alinha o texto ao centro */
    background-image: url('https://s3-alpha-sig.figma.com/img/b29f/6b0f/627f88a9028174eb1d309e8a3367207a?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mQOpMLHkiBk2MMu2Eaz6l3LTQZbt9WUS0IPQDCzD~m-dQoiN7-Oo0UKdOU3FgkCaWnITJv7h99CnVFmYMGNUnIXXoIFHQwb4uz32eizC0ZjIQkAd-W9ImqlVuc23M5dzioKWCfvgAN3PWvxZT8wWvbcHsyQIXmYmbq6aYig2kacpUBGPulEicKCXFLTms2TT8RUTon34NLmBIVm4nQnQZwKuK-mlApp3RZOgzVFcjsN4fcMqjCUSaJ6UDNAhHBaOZWUapt0tIq-CH1MGzVORQjgvZNv6mIdrdhdWbK5LkG-o6PXveGLvPcssrLO6kAd0p2vNbqi5LPB70sfQT-2Bqg__'); /* Imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem de fundo */
    padding: 6.25rem 0; /* Espaçamento interno vertical */
    position: relative; /* Necessário para o pseudoelemento ::after */
}

.herosection::after {
    content: ''; /* Conteúdo do pseudoelemento ::after */
    position: absolute; /* Posicionamento absoluto */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura total da seção */
    height: 100%; /* Altura total da seção */
    background-color: rgba(10, 14, 39, 0.7); /* Cor de fundo com opacidade */
    z-index: 0; /* Coloca o pseudoelemento atrás do conteúdo */
}

.herosection .container {
    position: relative; /* Necessário para sobrepor o pseudoelemento ::after */
    z-index: 1; /* Garante que o conteúdo esteja acima do pseudoelemento */
}

.herosection h1 {
    font-size: 2.5rem; /* Tamanho da fonte do título */
    font-weight: 700; /* Peso da fonte */
    color: #fff; /* Cor do título */
    margin-bottom: 1.25rem; /* Margem inferior */
}

.herosection p {
    font-size: 1.2rem; /* Tamanho da fonte do parágrafo */
    color: #fff; /* Cor do texto */
    margin-bottom: 1.875rem; /* Margem inferior */
}

/* Estilo da seção de vantagens */
.advantages {
    display: flex; /* Usa flexbox para a disposição dos itens */
    justify-content: center; /* Centraliza os itens */
    gap: 1.25rem; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    margin-bottom: 4rem; /* Margem inferior */
}

.advantages span {
    background-color:rgba(0,0,0,.9); /* Define a cor de fundo dos itens de vantagem */
    padding: 0 1rem; /* Define o preenchimento dos itens (10px 20px) */
    height: 1.8rem; /* Define a altura do item */
    display: flex; /* Usa flexbox para centralizar o texto */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    font-size: .8rem; /* Define o tamanho da fonte dos itens */
    color: #fff; /* Define a cor do texto dos itens */
    border-radius: 0.3125rem; /* Define o arredondamento das bordas dos itens */
    cursor: pointer; /* Muda o cursor para indicar um item clicável */
}

.advantages span:hover {
    background-color: #f38200; /* Cor de fundo ao passar o mouse */
}

/* Estilo da seção de funcionalidades */
.featuressection {
    background-color: #111b38; /* Cor de fundo */
    padding: 3.75rem 0; /* Espaçamento interno vertical */
}

.featuresGrid {
    margin-bottom: -6rem; /* Margem negativa para ajustar o layout */
    display: flex; /* Usa flexbox para a disposição dos itens */
    justify-content: space-between; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    gap: 1.25rem; /* Espaçamento entre os itens */
}

.featureItem {
    text-align: center; /* Alinha o texto ao centro */
    max-width: 13.75rem; /* Largura máxima dos itens */
}

.featureItem p {
    color: #c1c7d0; /* Cor do texto */
    font-size: 0.9rem; /* Tamanho da fonte */
}

/* Estilo da seção sobre */
.aboutSection {
    background-color: #0a0e27;
    padding: 5rem 0; /* Espaçamento interno vertical */
}

.aboutContent {
    display: flex; /* Usa flexbox para a disposição dos itens */
    justify-content: space-between; /* Espaçamento entre os itens */
    align-items: flex-start; /* Alinha os itens ao topo */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    gap: 2.5rem; /* Espaçamento entre os itens */
}

.aboutText {
    flex: 1; /* Permite que o elemento ocupe o espaço disponível */
    min-width: 18.75rem; /* Largura mínima */
    color: #e8ecf3; /* Cor do texto */
}

.aboutValues {
    flex: 1; /* Permite que o elemento ocupe o espaço disponível */
    min-width: 18.75rem; /* Largura mínima */
    color: #e8ecf3; /* Cor do texto */
    font-size: 0.9rem; /* Tamanho da fonte */
}

.aboutSection h2 {
    font-size: 2rem; /* Tamanho da fonte do subtítulo */
    font-weight: 700; /* Peso da fonte */
    margin-bottom: 1.25rem; /* Margem inferior */
    color: #e8ecf3; /* Cor do texto */
}

.aboutSection p {
    margin-bottom: 1.25rem; /* Margem inferior */
}

/* Estilo do botão de chamada para ação */
.ctaButton {
    display: inline-block; /* Exibe o botão como bloco inline */
    background-color: #ff6600; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    padding: 0.75rem 1.5625rem; /* Espaçamento interno */
    border-radius: 1.5625rem; /* Arredondamento das bordas */
    font-size: 0.9rem; /* Tamanho da fonte */
    font-weight: 600; /* Peso da fonte */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.ctaButton:hover {
    background-color: #ca5100; /* Cor de fundo ao passar o mouse */
}

/* Estilo da seção de detalhes das funcionalidades */
.featuresDetails {
    background-color: #111b38; /* Cor de fundo */
    padding: 3.75rem 0; /* Espaçamento interno vertical */
    color: #e8ecf3; /* Cor do text */
}

.detailItem h2 {
    text-align: center; /* Centraliza o título */
    font-size: 2em; /* Define o tamanho da fonte do título */
    margin-bottom: 2.5rem; /* Adiciona margem inferior ao título */
}

.detailsGrid {
    margin-top: .8rem;
    display: flex; /* Usa flexbox para a disposição dos itens */
    justify-content: space-between; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    gap: 1.25rem; /* Espaçamento entre os itens */
}

.detailItem {
    background-color: #0a0e27; /* Cor de fundo dos itens */
    padding: 1.875rem; /* Espaçamento interno */
    border-radius: 0.5rem; /* Arredondamento das bordas */
    flex: 1; /* Permite que o elemento ocupe o espaço disponível */
    min-width: 13.75rem; /* Largura mínima */
    text-align: center; /* Alinha o texto ao centro */
    width: 10rem;
}

.detailItem h3 {
    font-size: 1.5rem; /* Tamanho da fonte do título */
    font-weight: 700; /* Peso da fonte */
    margin-bottom: 0.625rem; /* Margem inferior */
    color: #ffffff; /* Cor do texto */
}

.detailItem h4 {
    font-size: 1rem; /* Tamanho da fonte do subtítulo */
    font-weight: 400; /* Peso da fonte */
    margin-bottom: 0.3125rem; /* Margem inferior */
    color: #c1c7d0; /* Cor do texto */
}

.detailItem p {
    color: #c1c7d0; /* Cor do texto */
    font-size: 0.9rem; /* Tamanho da fonte */
}

/* Estilo da seção de planos */
.plansSection {
  padding: 50px 0;
  background-color: #0a0e27;
  text-align: center;
  color: #c1c7d0; /* Cor do texto */
}

.plansSection h2 {
    margin-bottom: 1rem; /* Espaçamento abaixo do título */
    font-size: 1.5rem; /* Tamanho da fonte do título */
    color: #ffffff; /* Cor do texto */
}

.plansSection h4 {
    margin-bottom: 2rem; /* Espaçamento abaixo do subtítulo */
    font-size: 1.1rem; /* Tamanho da fonte do subtítulo */
    color: #ffffff; /* Cor do texto */
}

.planButton {
    background-color: #ff6600; /* Define a cor de fundo do botão */
    color: #fff; /* Define a cor do texto do botão */
    border: none; /* Remove a borda padrão */
    padding: 0.625rem 1.25rem; /* Define o espaçamento interno do botão */
    border-radius: 0.3125rem; /* Arredonda as bordas do botão */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    text-decoration: none; /* Remove a sublinha do texto */
    display: block; /* Exibe o botão como um bloco */
    font-size: 1rem; /* Define o tamanho da fonte do botão */
    transition: background-color 0.3s, transform 0.3s; /* Transição suave para a cor de fundo e o efeito de escala */
    margin-top: 0.625rem; /* Adiciona margem superior ao botão */
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao botão */
    width: 70%; /* Define a largura do botão como 70% do contêiner */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    text-align: center; /* Centraliza o texto do botão */
}

.planButton:hover {
    background-color: #ca5100; /* Muda a cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Aumenta o botão ligeiramente ao passar o mouse */
}

.planButton:active {
    background-color: #cc5200; /* Muda a cor de fundo ao clicar no botão */
    transform: scale(0.95); /* Reduz o tamanho do botão ao clicar */
}

.planButton:focus {
    outline: 0.125rem solid #ff6600;
    outline-offset: 0.125rem;
}

/* Estilos para o container do Keen Slider */
.keen-slider {
    position: relative; /* Posicionamento relativo para manipulação do slider */
    width: 70%; /* Define a largura do slider */
    height: auto; /* Define a altura automática */
    margin: -1rem auto; /* Centraliza o slider e adiciona margem negativa */
    padding: 40px 0; /* Espaçamento interno superior e inferior */
    padding-bottom: 60px; /* Espaçamento interno adicional inferior */
    overflow: hidden; /* Oculta conteúdo que excede o contêiner */
}

.keen-slider__slide img {
    display: block; /* Remove o espaço extra abaixo da imagem */
    max-width: 100%; /* Garante que a imagem não exceda o tamanho do slide */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para cada slide do Keen Slider */
.keen-slider__slide {
    display: flex; /* Usa flexbox para centralizar o conteúdo dos slides */
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: flex-start; /* Alinha o conteúdo no topo */
    padding: 20px; /* Espaçamento interno dos slides */
    transition: transform 0.3s ease; /* Transição suave para o efeito de transformação */
    margin: 0 auto; /* Centraliza os slides horizontalmente */
}

/* Estilos para o hover nos slides */
.keen-slider__slide:hover {
    transform: scale(1.05);
}

/* Estilos para o texto informativo dos planos */
.plan-info {
    margin-top: 15px;
    text-align: center;
}

/* Estilos para o Keen Slider no desktop */
@media (min-width: 1024px) {
    .keen-slider {
        padding: 40px 0;
    }

    .keen-slider__slide {
        margin: 0 10px;
    }
}

/* Estilo do rodapé */
.footer {
    background-color: #0b1f47; /* Define a cor de fundo do rodapé */
    padding: 1.25rem 0; /* Define o espaçamento interno superior e inferior */
    text-align: center; /* Centraliza o texto no rodapé */
}

.footer p {
    color: #c1c7d0; /* Define a cor do texto do rodapé */
    font-size: 0.9em; /* Define o tamanho da fonte do texto do rodapé */
    margin-bottom: 0.3125rem; /* Define a margem inferior do texto do rodapé */
}

.footer a {
    color: #f8a22f; /* Define a cor dos links no rodapé */
    font-size: 0.9em; /* Define o tamanho da fonte dos links no rodapé */
    font-weight: 600; /* Define o peso da fonte dos links no rodapé */
    text-decoration: underline; /* Sublinha os links no rodapé */
}

.footerLinks a {
    color: #f39c12; /* Define a cor dos links na seção de links do rodapé */
    text-decoration: none; /* Remove o sublinhado dos links */
    margin: 0 0.625rem; /* Adiciona margem entre os links */
}

.footerLinks a:hover {
    text-decoration: underline; /* Sublinha os links ao passar o mouse */
}

