* {
    font-family: 'Montserrat', sans-serif; /* Define a fonte padrão para todos os elementos como Montserrat */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

/* Estilos básicos do body */
body {
    font-family: 'Open Sans', sans-serif; /* Define a fonte padrão do corpo como Open Sans */
    line-height: 1.6; /* Define a altura da linha para melhor legibilidade */
    color: #fff; /* Define a cor do texto como branco */
    background-color: #1a1a1a; /* Define a cor de fundo como um tom escuro */
}