.body {
    font-family: 'Montserrat', sans-serif; /* Define a fonte do corpo */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    color: #ffffff; /* Cor do texto */
    background-color: #0a0e27; /* Cor de fundo */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
}

.container {
    width: 85%; /* Largura relativa ao elemento pai */
    max-width: 75rem; /* Largura máxima em rem */
    margin: 0 auto; /* Centraliza o container */
}

.header {
    background-color: #0b1f47; /* Cor de fundo do cabeçalho */
    height: 5.5rem; /* Altura do cabeçalho */
    display: flex; /* Usa flexbox para disposição dos itens */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 0 1.25rem; /* Espaçamento interno horizontal */
    position: relative; /* Necessário para o logotipo */
}

.container2 {
    display: flex; /* Usa flexbox para disposição dos itens dentro do container */
    justify-content: space-between; /* Espaça o logotipo e a navegação */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    width: 88%; /* Garante que o container ocupe toda a largura disponível */
}

/* Estilo do logotipo */
.logo {
    display: flex; /* Usa flexbox para o logotipo */
    align-items: center; /* Centraliza verticalmente o logotipo */
    margin-left: 3rem;
}

/* Estilo da imagem do logotipo */
.logo img {
    left: 2.5rem;
}

/* Estilo da navegação */
.nav {
    flex: 1; /* Permite que a navegação ocupe o espaço disponível */
    display: flex; /* Usa flexbox para a navegação */
    justify-content: center; /* Centraliza a navegação horizontalmente */
}

.nav ul {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Exibe os itens de navegação em linha */
    justify-content: center; /* Centraliza os itens de navegação */
    gap: 1.25rem; /* Adiciona um espaço entre os itens */
    padding: 0; /* Remove o padding da lista */
    margin: 0; /* Remove a margem da lista */
}

.nav ul li {
    display: inline; /* Exibe os itens da lista em linha */
}

.nav ul li a {
    color: #fff; /* Cor dos links na navegação */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: 500; /* Peso da fonte */
    padding: 0.625rem 0.9375rem; /* Espaçamento interno dos links */
    display: block; /* Exibe os links como blocos */
    border-radius: 0.3125rem; /* Arredondamento das bordas */
    transition: border-bottom 0.3s ease, color 0.3s ease; /* Transições suaves para efeitos de hover */
    position: relative; /* Posicionamento relativo para o pseudoelemento ::after */
}

/* Estilo dos links da navegação */
.nav a {
    color: #ffffff; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 1rem; /* Tamanho da fonte dos links */
    font-weight: 600; /* Peso da fonte dos links */
    position: relative; /* Necessário para o posicionamento da linha */
}

.nav ul li a:hover {
    color: #f39c12; /* Muda a cor do texto dos links quando o mouse está sobre eles */
}

.nav a.active {
    color: #f8a22f; /* Altere a cor do texto se desejado para o item ativo */
}

/* Linha abaixo do item ativo */
.nav a.active::after {
    content: ''; /* Cria um elemento vazio */
    display: block; /* Faz com que o elemento ocupe uma linha inteira */
    width: 100%; /* Largura da linha igual à do link */
    height: 3px; /* Altura da linha */
    background-color: #f8a22f; /* Cor da linha */
    position: absolute; /* Posiciona a linha em relação ao link */
    bottom: -5px; /* Posiciona a linha abaixo do link */
    left: 0; /* Alinha a linha à esquerda do link */
}

.nav ul li a:hover::after {
    width: 100%; /* Faz com que o pseudo-elemento ocupe 100% da largura do link quando o mouse está sobre ele */
}



/* Estilo da seção herói */
.heroSection {
    text-align: center; /* Alinha o texto ao centro */
    background-image: url('https://s3-alpha-sig.figma.com/img/26ae/4ce0/f9cc074fef69a5331bca1e2ffd3f2762?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Ro2K5WBQtb-4-I5OllJoAl28AgzqT6K67TYWtZxI2RlY6ig54FdVPjTPIbjBf5HmGHWZQZt0uLZqy4VTmz~Zda--es0ESNNhYVox-bN0CICQp7zP~7WHfisi1~Rylvy0zqfg9nwDzQibGUbeZ6Q7-JViByS5b-bPiOHVwEMs1vugbjU201qLTY2ASnSrvOU-xBajOG6x~Zz907-jpoPPpI9sac5bHsuq1W-eUQDTN~kIr1bIUEis5VE1XL2wsniGxDu1UZtvh8SZ4~9XNRVmBaQ5XkSKFnj~9Vi3jLB4fbwUmtQMUv116BX7BMpRAUk7vtyK7~XD4wNqusrBQgdEPA__'); /* Imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem de fundo */
    padding: 6.25rem 0; /* Espaçamento interno vertical */
    position: relative; /* Necessário para o pseudoelemento ::after */
}

.heroSection::after {
    content: ''; /* Conteúdo do pseudoelemento ::after */
    position: absolute; /* Posicionamento absoluto */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura total da seção */
    height: 100%; /* Altura total da seção */
    z-index: 0; /* Coloca o pseudoelemento atrás do conteúdo */
}

.heroSection .container {
    position: relative; /* Necessário para sobrepor o pseudoelemento ::after */
    z-index: 1; /* Garante que o conteúdo esteja acima do pseudoelemento */
}

.heroSection h1 {
    font-size: 2.5rem; /* Tamanho da fonte do título */
    font-weight: 700; /* Peso da fonte */
    color: #fff; /* Cor do título */
    margin-bottom: 1.25rem; /* Margem inferior */
}

.heroSection p {
    font-size: 1.2rem; /* Tamanho da fonte do parágrafo */
    color: #fff; /* Cor do texto */
    margin-bottom: 1.875rem; /* Margem inferior */
}

/* Estilo da seção de vantagens */
.advantages {
    display: flex; /* Usa flexbox para a disposição dos itens */
    justify-content: center; /* Centraliza os itens */
    gap: 1.25rem; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    margin-bottom: 4rem; /* Margem inferior */
}

.advantages span {
    background-color:rgba(0,0,0,.9); /* Define a cor de fundo dos itens de vantagem */
    padding: 0 1rem; /* Define o preenchimento dos itens (10px 20px) */
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem; /* Define o tamanho da fonte dos itens (16px) */
    color: #fff; /* Define a cor do texto dos itens */
    border-radius: 0.3125rem; /* Define o arredondamento das bordas dos itens (5px) */
    cursor: pointer; /* Muda o cursor para indicar um item clicável */
}

.advantages span:hover {
    background-color: #f38200; /* Cor de fundo ao passar o mouse */
}

/* Estilo da seção de funcionalidades */
.featuressection {
    background-color: #111b38; /* Cor de fundo */
    padding: 3.75rem 0; /* Espaçamento interno vertical */
}

.featuresGrid {
    margin-bottom: -6rem; /* Margem negativa para ajustar o layout */
    display: flex; /* Usa flexbox para a disposição dos itens */
    justify-content: space-between; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    gap: 1.25rem; /* Espaçamento entre os itens */
}

.featureItem {
    text-align: center; /* Alinha o texto ao centro */
    max-width: 13.75rem; /* Largura máxima dos itens */
}

.featureItem p {
    color: #c1c7d0; /* Cor do texto */
    font-size: 0.9rem; /* Tamanho da fonte */
}

/* Estilo da seção sobre */
.aboutSection {
    background-color: #000002;
    padding: 5rem 0; /* Espaçamento interno vertical */
}

.aboutContent {
    display: flex; /* Usa flexbox para a disposição dos itens */
    justify-content: space-between; /* Espaçamento entre os itens */
    align-items: flex-start; /* Alinha os itens ao topo */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    gap: 2.5rem; /* Espaçamento entre os itens */
}

.aboutText {
    flex: 1; /* Permite que o elemento ocupe o espaço disponível */
    min-width: 18.75rem; /* Largura mínima */
    color: #e8ecf3; /* Cor do texto */
}

.aboutValues {
    flex: 1; /* Permite que o elemento ocupe o espaço disponível */
    min-width: 18.75rem; /* Largura mínima */
    color: #e8ecf3; /* Cor do texto */
    font-size: 0.9rem; /* Tamanho da fonte */
}

.aboutSection h2 {
    font-size: 2rem; /* Tamanho da fonte do subtítulo */
    font-weight: 700; /* Peso da fonte */
    margin-bottom: 1.25rem; /* Margem inferior */
    color: #e8ecf3; /* Cor do texto */
}

.aboutSection p {
    margin-bottom: 1.25rem; /* Margem inferior */
}

/* Estilo da seção de parceiros */
.partnersSection {
    padding: 2.5rem 0; /* Define o preenchimento superior e inferior (40px) */
    background-color: #000002; /* Define a cor de fundo da seção */
    text-align: center; /* Centraliza o texto */
}

.partnerLogos {
    display: flex; /* Usa flexbox para a disposição dos itens */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se necessário */
    justify-content: center; /* Centraliza os itens na linha */
    gap: 1.25rem; /* Define o espaço entre os itens (20px) */
    margin-top: 1.25rem; /* Define a margem superior dos itens (20px) */
}

.partnerItem {
    display: flex; /* Usa flexbox para a disposição do texto e imagem */
    flex-direction: column; /* Coloca o texto abaixo da imagem */
    align-items: center; /* Centraliza o texto em relação à imagem */
    width: 6.25rem; /* Define a largura dos itens (100px) */
    padding: 0.625rem; /* Define o preenchimento interno dos itens (10px) */
    background-color: #000002; /* Define a cor de fundo dos itens */
    border-radius: 0.625rem; /* Define o arredondamento das bordas dos itens (10px) */
    transition: transform 0.3s ease; /* Anima a transformação dos itens */
}

.partnerItem:hover {
    transform: translateY(-0.3125rem); /* Move o item para cima ao passar o mouse */
}

.partnerItem img {
    width: 80%; /* Define a largura da imagem como 80% do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 0.625rem; /* Define a margem inferior da imagem (10px) */
}

.partnerItem p {
    color: #ffffff; /* Define a cor do texto dos itens */
    font-size: 0.875rem; /* Define o tamanho da fonte do texto (14px) */
    font-weight: 500; /* Define o peso da fonte do texto */
    margin: 0; /* Remove a margem do texto */
}

/* Estilo da seção de planos */
.plansSection {
    padding: 50px 0;
    background-color: #0a0e27;
    text-align: center;
    color: #c1c7d0; /* Cor do texto */
  }
  
  .plansSection h2 {
      margin-bottom: 1rem; /* Espaçamento abaixo do título */
      font-size: 1.5rem; /* Tamanho da fonte do título */
      color: #c1c7d0; /* Cor do texto */
  }
  
  .plansSection h4 {
      margin-bottom: 2rem; /* Espaçamento abaixo do subtítulo */
      font-size: 1.1rem; /* Tamanho da fonte do subtítulo */
      color: #c1c7d0; /* Cor do texto */
  }
  
 /* Estilo do botão de planos */
.planButton {
    background-color: #ff6600; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão do botão */
    padding: 0.625rem 1.25rem; /* Espaçamento interno do botão (vertical e horizontal) */
    border-radius: 0.3125rem; /* Arredondamento das bordas do botão */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    text-decoration: none; /* Remove o sublinhado do texto do botão */
    display: block; /* Faz o botão ocupar toda a largura disponível */
    font-size: 1rem; /* Tamanho da fonte do texto do botão */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves para cor de fundo e transformação */
    margin-top: 0.625rem; /* Margem superior do botão */
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2); /* Sombra do botão para efeito de elevação */
    width: 70%; /* Largura do botão como uma porcentagem do contêiner pai */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    text-align: center; /* Centraliza o texto dentro do botão */
}

.planButton:hover {
    background-color: #e65c00; /* Cor de fundo do botão ao passar o mouse */
    transform: scale(1.05); /* Aumenta o tamanho do botão ao passar o mouse */
}

.planButton:active {
    background-color: #cc5200; /* Cor de fundo do botão quando pressionado */
    transform: scale(0.95); /* Reduz o tamanho do botão quando pressionado */
}

.planButton:focus {
    outline: 0.125rem solid #ff6600; /* Adiciona uma borda ao redor do botão quando ele está em foco */
    outline-offset: 0.125rem; /* Distância da borda de foco em relação ao botão */
}

/* Estilos para o container do Keen Slider */
.keen-slider {
    position: relative; /* Necessário para posicionar os slides dentro do container */
    width: 70%; /* Largura do container do slider */
    height: auto; /* Altura ajustável conforme o conteúdo */
    margin: -1rem auto; /* Margem superior negativa para ajustar o layout */
    padding: 40px 0; /* Espaçamento interno superior e inferior */
    padding-bottom: 60px; /* Espaçamento interno inferior adicional */
    overflow: hidden; /* Oculta o conteúdo que ultrapassa os limites do container */
}

.keen-slider__slide img {
    display: block; /* Remove o espaço extra abaixo da imagem */
    max-width: 100%; /* Garante que a imagem não exceda o tamanho do slide */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para cada slide do Keen Slider */
.keen-slider__slide {
    display: flex; /* Usa flexbox para a disposição dos itens no slide */
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: flex-start; /* Alinha os itens ao topo do slide */
    padding: 20px; /* Espaçamento interno do slide */
    transition: transform 0.3s ease; /* Transição suave para a transformação do slide */
    margin: 0 auto; /* Centraliza o slide horizontalmente */
}

/* Estilos para o hover nos slides */
.keen-slider__slide:hover {
    transform: scale(1.05); /* Aumenta o tamanho do slide ao passar o mouse */
}

/* Estilos para o texto informativo dos planos */
.plan-info {
    margin-top: 15px; /* Margem superior do texto informativo */
    text-align: center; /* Centraliza o texto informativo */
}

/* Estilos para o Keen Slider no desktop */
@media (min-width: 1024px) {
    .keen-slider {
        padding: 40px 0; /* Ajusta o espaçamento interno superior e inferior no desktop */
    }

    .keen-slider__slide {
        margin: 0 10px; /* Espaço horizontal entre os slides no desktop */
    }
}


/* Estilo do rodapé */
.footer {
    background-color: #0b1f47; /* Cor de fundo do rodapé */
    padding: 1.25rem 0; /* Espaçamento interno vertical */
    text-align: center; /* Centraliza o texto */
}

.footer p {
    color: #c1c7d0; /* Cor do texto do rodapé */
    font-size: 0.9em; /* Tamanho da fonte do texto */
    margin-bottom: 0.3125rem; /* Margem inferior do texto */
}

.footer a {
    color: #f8a22f; /* Cor dos links no rodapé */
    font-size: 0.9em; /* Tamanho da fonte dos links */
    font-weight: 600; /* Peso da fonte dos links */
    text-decoration: underline; /* Sublinhado dos links */
}

.footerLinks a {
    color: #f39c12; /* Cor dos links na seção de links do rodapé */
    text-decoration: none; /* Remove o sublinhado dos links */
    margin: 0 0.625rem; /* Espaço horizontal entre os links */
}

.footerLinks a:hover {
    text-decoration: underline; /* Sublinhado dos links ao passar o mouse */
}

