/* Estilos básicos do body */
.body {
    font-family: 'Open Sans', sans-serif; /* Fonte padrão do corpo */
    line-height: 1.6; /* Altura da linha para legibilidade */
    color: #fff; /* Cor do texto */
    background-color: #1a1a1a; /* Cor de fundo */
}

/* Container centralizado */
.container {
    width: 90%; /* Largura do container */
    max-width: 75rem; /* Largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 0.03125rem; /* Padding muito pequeno */
}

.header {
    background-color: #0b1f47; /* Cor de fundo do cabeçalho */
    height: 5.5rem; /* Altura do cabeçalho */
    display: flex; /* Usa flexbox para disposição dos itens */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 0 1.25rem; /* Espaçamento interno horizontal */
    position: relative; /* Necessário para o logotipo */
}

.container2 {
    display: flex; /* Usa flexbox para disposição dos itens dentro do container */
    justify-content: space-between; /* Espaça o logotipo e a navegação */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    width: 88%; /* Garante que o container ocupe toda a largura disponível */
}

/* Estilo do logotipo */
.logo {
    display: flex; /* Usa flexbox para o logotipo */
    align-items: center; /* Centraliza verticalmente o logotipo */
    margin-left: 3rem;
}

/* Estilo da imagem do logotipo */
.logo img {
    left: 2.5rem;
}

/* Estilo da navegação */
.nav {
    flex: 1; /* Permite que a navegação ocupe o espaço disponível */
    display: flex; /* Usa flexbox para a navegação */
    justify-content: center; /* Centraliza a navegação horizontalmente */
}

.nav ul {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Exibe os itens de navegação em linha */
    justify-content: center; /* Centraliza os itens de navegação */
    gap: 1.25rem; /* Adiciona um espaço entre os itens */
    padding: 0; /* Remove o padding da lista */
    margin: 0; /* Remove a margem da lista */
}

.nav ul li {
    display: inline; /* Exibe os itens da lista em linha */
}

.nav ul li a {
    color: #fff; /* Cor dos links na navegação */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: 500; /* Peso da fonte */
    padding: 0.625rem 0.9375rem; /* Espaçamento interno dos links */
    display: block; /* Exibe os links como blocos */
    border-radius: 0.3125rem; /* Arredondamento das bordas */
    transition: border-bottom 0.3s ease, color 0.3s ease; /* Transições suaves para efeitos de hover */
    position: relative; /* Posicionamento relativo para o pseudoelemento ::after */
}

/* Estilo dos links da navegação */
.nav a {
    color: #ffffff; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 1rem; /* Tamanho da fonte dos links */
    font-weight: 600; /* Peso da fonte dos links */
    position: relative; /* Necessário para o posicionamento da linha */
}

.nav ul li a:hover {
    color: #f39c12; /* Muda a cor do texto dos links quando o mouse está sobre eles */
}

.nav a.active {
    color: #f8a22f; /* Altere a cor do texto se desejado para o item ativo */
}

/* Linha abaixo do item ativo */
.nav a.active::after {
    content: ''; /* Cria um elemento vazio */
    display: block; /* Faz com que o elemento ocupe uma linha inteira */
    width: 100%; /* Largura da linha igual à do link */
    height: 3px; /* Altura da linha */
    background-color: #f8a22f; /* Cor da linha */
    position: absolute; /* Posiciona a linha em relação ao link */
    bottom: -5px; /* Posiciona a linha abaixo do link */
    left: 0; /* Alinha a linha à esquerda do link */
}

.nav ul li a:hover::after {
    width: 100%; /* Faz com que o pseudo-elemento ocupe 100% da largura do link quando o mouse está sobre ele */
}

/* Seção Hero */
.hero {
    background-image: url('https://s3-alpha-sig.figma.com/img/ed8e/2c41/7bb4a99d8bbbe53c785fec3baaa22771?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=k60EaryKYNo4HE3mLABg1XbvQo42t2azGjZn-eRQHyMyktAyay8~kevDicFPksCebZ61TyyerDZKYJH97uacE-LgGoLzwwVh-TftjllRFwREyOUC2S1vOR13JPy8Faj~2SKIE0WgPFd2E3ybZwDLwzMIN5T6lWldPFZO4vhkvxbV6d0adm4nT9Kd175Bsi2n5sPkNCch6Pf-fJBOMjMutodiWBMP0lA83uyp3XLMILckSLxSwKa0cDqJjJE2rpJZePJHFrf7~4h8dqncygsEzaMMkSq7fiIrGtF0ouKuHlfaIDDUhZpHD7pDQpoLkmB5zwEihIcjJhtuPll-7Q0~PQ__'); /* Define a imagem de fundo para a seção Hero */
    background-size: cover; /* Faz com que a imagem de fundo cubra todo o elemento */
    background-position: center; /* Centraliza a imagem de fundo */
    text-align: center; /* Centraliza o texto dentro da seção Hero */
    padding: 6.25rem 0; /* Adiciona padding vertical à seção Hero */
    margin-bottom: -2rem; /* Adiciona margem negativa na parte inferior */
}

.hero h1 {
    font-size: 2.5em; /* Define o tamanho da fonte do título */
    margin-bottom: 1.25rem; /* Adiciona margem inferior ao título */
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao texto do título */
}

.hero p {
    font-size: 1.2em; /* Define o tamanho da fonte do parágrafo */
    max-width: 37.5rem; /* Define a largura máxima do parágrafo */
    margin: 0 auto 1.875rem auto; /* Centraliza o parágrafo e adiciona margem inferior */
    text-shadow: 0.062rem 0.062rem 0.187rem rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao texto do parágrafo */
    margin-bottom: 1rem; /* Adiciona margem negativa na parte inferior */
}

/* Estilo da seção de vantagens */
.advantages {
    display: flex; /* Usa flexbox para a disposição dos itens */
    justify-content: center; /* Centraliza os itens */
    gap: 1.25rem; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    margin-bottom: 4rem; /* Margem inferior */
}

.advantages span {
    background-color:rgba(0,0,0,.9); /* Define a cor de fundo dos itens de vantagem */
    padding: 0 1rem; /* Define o preenchimento dos itens (10px 20px) */
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem; /* Define o tamanho da fonte dos itens (16px) */
    color: #fff; /* Define a cor do texto dos itens */
    border-radius: 0.3125rem; /* Define o arredondamento das bordas dos itens (5px) */
    cursor: pointer; /* Muda o cursor para indicar um item clicável */
}

.advantages span:hover {
    background-color: #f38200; /* Cor de fundo ao passar o mouse */
}

.testimonialGrid {
    margin-bottom: -6rem; /* Margem negativa para ajustar o layout */
    display: flex; /* Usa flexbox para a disposição dos itens */
    justify-content: space-between; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    gap: 1.25rem; /* Espaçamento entre os itens */
}

.testimonialItem {
    text-align: center; /* Alinha o texto ao centro */
    max-width: 13.75rem; /* Largura máxima dos itens */
    margin-bottom: 1.5rem;
}

.testimonialItem p {
    color: #c1c7d0; /* Cor do texto */
    font-size: 0.9rem; /* Tamanho da fonte */
    margin-top: 3px;
}

/* Seção Mission */
.mission {
    background-image: url('https://s3-alpha-sig.figma.com/img/b8d1/783c/634258e574618f3b91ef939ca48c9565?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=drWZ0vdNGOq3aCohSflGvqF4DOReLHePYpkb3XzYDcuHemxg2vvN8wbryYtHqYJIgG4My386ifPCmonRdG38x8G8SByTxIIr5ZcdB7KhWnxbnAESpEj34BuglaBe70HHEborZXMtiFskmR-49oxFbetrjIYCroJXCZLRD2wX87jLaX071ftZkga3gBhEvBOfaoQfTEtjYhnZtkBNAXZoB4Qh2wX8DkGRlXX4ZabzGNYBOcI25vlFtA0XtOiP1lJdVgh4KRzxThWCRwD61tgc4FxXiSBavHdPMwUk8oyVZYX5leBcC2ncYNA3bTK9YERrkemuLsn1xLdW3MAVLlPxOw__'); /* Imagem de fundo */
    background-size: cover; /* Cobre todo o elemento */
    background-position: center; /* Centraliza imagem */
    text-align: center; /* Centraliza texto */
    padding: 6.25rem 0; /* Padding vertical */
}

/* Estilos para o título da seção Mission */
.mission h2 {
    font-size: 2em; /* Tamanho da fonte */
    margin-bottom: 2.5rem; /* Margem inferior */
}

/* Container de grid para a seção Mission */
.missionGrid {
    display: grid; /* Grid layout */
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 2.5rem; /* Espaçamento entre itens */
    max-width: 56.25rem; /* Largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: left; /* Alinha texto à esquerda */
}

/* Estilos para os itens individuais na grid da seção Mission */
.missionItem {
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo */
    padding: 1.25rem; /* Padding */
    border-radius: 0.5rem; /* Bordas arredondadas */
    box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.3); /* Sombra */
    color: #fff; /* Cor do texto */
}

.Button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
    width: 10%;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center; /* Centraliza o texto do botão */
}

.Button:hover {
    background-color: #e65c00;
    transform: scale(1.05);
}

.Button:active {
    background-color: #cc5200;
    transform: scale(0.95);
}

.Button:focus {
    outline: 0.125rem solid #ff6600;
    outline-offset: 0.125rem;
}

/* Seção Features */
.features {
    background-image: url('https://s3-alpha-sig.figma.com/img/5268/3522/eaf924bbec5c121d22599c37c5fd54b8?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UMOAXtY9U0V7x24qQ1mE1GP2IaFx2~ii~UQAo-fE7-Jq2WEL4JXqFHCgYY4GebTaNpiqvPNFMbI5GMaWh~m9lq6ws1aejjO7k9agA3HDAe71Fg3gcdHt4~nTE6QliV1tEKuAq3CCb4vOMz4pUlZj58PTADWxfP97BGORY-zX~xRmNGMLmyM0nqKPFQ-A78pfw3D2ODoiavTFlmArTkVPeMN4KhrSd-8M8OSeS6U22~77L0EBpGid96MiaAUzsV67mV4ptC8slCF9p6gE-4JXRP-XRuhQXMLoFE1vbJR~wReKg-XehuObvqAW6vfZ2KqSQXUcLleX5J313HVavL~QaA__'); /* Imagem de fundo */
    background-size: cover; /* Cobre todo o elemento */
    background-position: center; /* Centraliza imagem */
    padding: 6.25rem 0; /* Padding vertical */
    text-align: center; /* Centraliza texto */
}

.featuresGrid {
    display: grid; /* Exibe os itens da grid */
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas de tamanho igual */
    gap: 2.5rem; /* Adiciona um espaço entre os itens da grid */
    max-width: 56.25rem; /* Define a largura máxima da grid */
    margin: 0 auto; /* Centraliza a grid horizontalmente */
    text-align: center; /* Alinha o texto dos itens da grid ao centro */
}

.features h2 {
    font-size: 2.5em; /* Tamanho da fonte */
    margin-bottom: 1.875rem; /* Margem inferior */
}

.featureItem {
    background-color: rgba(0, 0, 0, 0.7); /* Define a cor de fundo com transparência */
    padding: 1.25rem; /* Adiciona padding aos itens */
    border-radius: 0.5rem; /* Adiciona bordas arredondadas aos itens */
    box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.3); /* Adiciona sombra aos itens */
}

.features .feature {
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo */
    border-radius: 0.5rem; /* Bordas arredondadas */
    padding: 1.875rem; /* Padding */
    margin: 1.25rem; /* Margem */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Seção Plans */
.plans {
    background-image: url('https://s3-alpha-sig.figma.com/img/4124/b91d/dfa98935e29ce938e9939c8f38313d4d?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hcDFRDzThuywIfygSe2FiAebsmKUWFOi3K5PGhXu7iA7MJiUELpEKXWtrFUCh3mD5YhRMBlyjY8W64fjsB7B295nRYTD7As048fvbbPsb2c4nJjVelIJ8Hj5j4N5DsRwsBTaWQZ8L3zAI0UoWEWiKMET8c6jwJE4ttht7fPDun5S6VtMnv4wLv7zSMWds79j3Vp0Z57GuFGXHNT9sEpZZWVcMzt0WjQESa1YpTDCCdDA3HYh~8U1O7nQqP~frWzDoaSmxsq76UtBc80PKfi4gKqzHBZvBaReU1SnvZgupsVUY30MnW9e~f5ZFR4rRSY7zD4E3hj8n1qgllg6fOvypQ__');
    padding: 4rem 0; /* Padding vertical */
    text-align: center; /* Centraliza texto */
    padding: 3.75rem 0; /* Adiciona padding vertical à seção Plans */
}

.plans h4 {
    margin-bottom: 1.2rem;
}

.planButton {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
    width: 70%;
    margin: 0 auto;
    text-align: center; /* Centraliza o texto do botão */
}

.planButton:hover {
    background-color: #e65c00;
    transform: scale(1.05);
}

.planButton:active {
    background-color: #cc5200;
    transform: scale(0.95);
}

.planButton:focus {
    outline: 0.125rem solid #ff6600;
    outline-offset: 0.125rem;
}

/* Estilos para o container do Keen Slider */
.keen-slider {
    position: relative;
    width: 70%;
    height: auto;
    margin: -1rem auto;
    padding: 40px 0;
    padding-bottom: 60px;
    overflow: hidden;
}

.keen-slider__slide img {
    display: block; /* Remove o espaço extra abaixo da imagem */
    max-width: 100%; /* Garante que a imagem não exceda o tamanho do slide */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para cada slide do Keen Slider */
.keen-slider__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    transition: transform 0.3s ease;
    margin: 0 auto;
}

/* Estilos para o hover nos slides */
.keen-slider__slide:hover {
    transform: scale(1.05);
}

/* Estilos para o Keen Slider no desktop */
@media (min-width: 1024px) {
    .keen-slider {
        padding: 40px 0;
    }

    .keen-slider__slide {
        margin: 0 10px;
    }
}

/* Estilo do rodapé */
.footer {
    background-color: #0b1f47;
    padding: 1.25rem 0;
    text-align: center;
}

.footer p {
    color: #c1c7d0;
    font-size: 0.9em;
    margin-bottom: 0.3125rem;
}

.footer a {
    color: #f8a22f;
    font-size: 0.9em;
    font-weight: 600;
    text-decoration: underline;
}

.footerLinks a {
    color: #f39c12;
    text-decoration: none;
    margin: 0 0.625rem;
}

.footerLinks a:hover {
    text-decoration: underline;
}
